# Machine Learning Attack on Arbiter PUF
## Justin Schubeck, Alex Liu, Yash Bhat
### EEE5716 - Introduction to Hardware Security and Trust: Fall 2022
---

We will first import the necessary libraries.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

First, we will read in the data from the Excel file.

In [2]:
df = pd.read_excel('CRPSets.xls',header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,0,1,1,1,0,1,0,0,1,...,1,1,0,0,0,1,0,1,1,1
1,1,0,1,0,1,0,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
2,1,1,0,1,0,1,1,0,1,0,...,1,0,1,1,1,0,0,1,0,0
3,0,1,0,0,0,0,1,1,0,1,...,1,1,1,1,1,0,0,1,1,0
4,1,1,0,0,0,1,1,1,0,1,...,0,1,0,1,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,0,1,0,1,1,1,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
11996,0,1,0,0,1,1,0,1,0,1,...,1,1,1,0,0,1,0,1,0,1
11997,1,1,1,0,0,0,1,1,0,0,...,1,1,0,1,0,1,1,0,0,0
11998,0,1,0,1,1,1,1,1,1,1,...,0,0,0,0,1,0,1,0,0,1
11999,0,0,1,1,1,0,0,1,1,1,...,1,1,1,0,0,1,1,1,0,0

In [3]:
challenges = df.to_numpy()[:,:64]
responses = df.to_numpy()[:,64]

We will now split the data into a training set (80%) and a testing set (20%). This will ensure that the models are not overfitting, and the test set will be used to evaluate the model.

In [4]:
X_train, X_test, t_train, t_test = train_test_split(challenges, 
                                                    responses,
                                                    test_size=0.05,
                                                    shuffle=True,
                                                    random_state=37)

---
# 1. Support Vector Machine

## Training

In [5]:
%%time

param_grid = {'C':np.logspace(-3, 3, 7),
              'gamma':np.logspace(-3, 3, 7)}
grid_search = GridSearchCV(SVC(), 
                           param_grid=param_grid,
                           cv=3,
                           scoring='accuracy',
                           refit=True)
grid_search.fit(X_train, t_train);
y_train = grid_search.best_estimator_.predict(X_train)
accuracy_score(t_train, y_train)

Wall time: 27min 22s

0.6998245614035088

In [6]:
grid_search.best_params_

{'C': 10.0, 'gamma': 0.01}

## Test

In [9]:
y_test = grid_search.best_estimator_.predict(X_test)

In [10]:
accuracy_score(t_test, y_test)

0.5683333333333334

---
# 2. Logistic Regression

## Training

## Test